body {
    background-color: black;
}

main {
    display: flex;
}

.number {
    margin: 50px;
}

.top {
    /* left: 15px; */
    width: 200px;
    height: 20px;
    border-radius: 1px;

    position:relative;
    overflow:hidden;
    /* background: #522d5b; */
    clip-path: polygon(
        5% 0%, 95% 0%, 100% 50%, 95% 100%, 5% 100%, 0 50%
    )
}

.left-top {
    top: -5px;
    left: -15px;
    width: 20px;
    height: 200px;
    border-radius: 1px;

    position:relative;
    overflow:hidden;
    /* background: #522d5b; */
    clip-path: polygon(
        0% 5%, 50% 0%, 100% 5%, 100% 95%, 50% 100%, 0% 95%
    )
}

.right-top {
    top: -205px;
    left: 195px;
    width: 20px;
    height: 200px;
    border-radius: 1px;

    position:relative;
    overflow:hidden;
    /* background: #522d5b; */
    clip-path: polygon(
        0% 5%, 50% 0%, 100% 5%, 100% 95%, 50% 100%, 0% 95%
    )
}

.centre {
    top: -210px;
    left: 0px;
    width: 200px;
    height: 20px;
    border-radius: 1px;

    position:relative;
    overflow:hidden;
    /* background: #522d5b; */
    clip-path: polygon(
        5% 0%, 95% 0%, 100% 50%, 95% 100%, 5% 100%, 0 50%
    )
}

.left-bottom {
    top: -215px;
    left: -15px;
    width: 20px;
    height: 200px;
    border-radius: 1px;

    position:relative;
    overflow:hidden;
    /* background: #522d5b; */
    clip-path: polygon(
        0% 5%, 50% 0%, 100% 5%, 100% 95%, 50% 100%, 0% 95%
    )
}

.right-bottom {
    top: -415px;
    left: 195px;
    width: 20px;
    height: 200px;
    border-radius: 1px;

    position:relative;
    overflow:hidden;
    /* background: #522d5b; */
    clip-path: polygon(
        0% 5%, 50% 0%, 100% 5%, 100% 95%, 50% 100%, 0% 95%
    )
}

.bottom {
    top: -420px;
    left: 0px;
    width: 200px;
    height: 20px;
    border-radius: 1px;

    position:relative;
    overflow:hidden;
    /* background: #522d5b; */
    clip-path: polygon(
        5% 0%, 95% 0%, 100% 50%, 95% 100%, 5% 100%, 0 50%
    )
}


#d1 {
    top: 15px;
    left: 0px;
    width: 20px;
    height: 200px;
    border-radius: 1px;

    position:relative;
    overflow:hidden;
    /* background: #522d5b; */
    clip-path: polygon(
        0% 5%, 50% 0%, 100% 5%, 100% 95%, 50% 100%, 0% 95%
    )
}

#divider{
    margin: 50px;
}

#d2 {
    top: 25px;
    left: 0px;
    width: 20px;
    height: 200px;
    border-radius: 1px;

    position:relative;
    overflow:hidden;
    clip-path: polygon(
        0% 5%, 50% 0%, 100% 5%, 100% 95%, 50% 100%, 0% 95%
    )
}


.unlit {
    background-color: rgba(100, 100, 100, 0.3);
}
.lit {
    background-image: radial-gradient(rgba(255,0,0,1), rgba(255,0,0,0.5));
}