body {
    background-color: black;
}
main {
    display: flex;
    width: 100vw;
}
.number {
    margin: 2vw;
}
.top {
    width: 18vw;
    height: 1.8vw;
    border-radius: 1px;
    position:relative;
    overflow:hidden;
    clip-path: polygon(
        5% 0%, 95% 0%, 100% 50%, 95% 100%, 5% 100%, 0 50%
    )
}
.left-top {
    top: -0.4vw;
    left: -1.4vw;
    width: 1.8vw;
    height: 18vw;
    border-radius: 1px;
    position:relative;
    overflow:hidden;
    clip-path: polygon(
        0% 5%, 50% 0%, 100% 5%, 100% 95%, 50% 100%, 0% 95%
    )
}
.right-top {
    top: -18.4vw;
    left: 17.6vw;
    width: 1.8vw;
    height: 18vw;
    border-radius: 1px;
    position:relative;
    overflow:hidden;
    clip-path: polygon(
        0% 5%, 50% 0%, 100% 5%, 100% 95%, 50% 100%, 0% 95%
    )
}
.centre {
    top: -18.8vw;
    width: 18vw;
    height: 1.8vw;
    border-radius: 1px;
    position:relative;
    overflow:hidden;
    clip-path: polygon(
        5% 0%, 95% 0%, 100% 50%, 95% 100%, 5% 100%, 0 50%
    )
}
.left-bottom {
    top: -19.2vw;
    left: -1.4vw;
    width: 1.8vw;
    height: 18vw;
    border-radius: 1px;
    position:relative;
    overflow:hidden;
    clip-path: polygon(
        0% 5%, 50% 0%, 100% 5%, 100% 95%, 50% 100%, 0% 95%
    )
}
.right-bottom {
    top: -37.2vw;
    left: 17.6vw;
    width: 1.8vw;
    height: 18vw;
    border-radius: 1px;
    position:relative;
    overflow:hidden;
    clip-path: polygon(
        0% 5%, 50% 0%, 100% 5%, 100% 95%, 50% 100%, 0% 95%
    )
}
.bottom {
    top: -37.6vw;
    width: 18vw;
    height: 1.8vw;
    border-radius: 1px;
    position:relative;
    overflow:hidden;
    clip-path: polygon(
        5% 0%, 95% 0%, 100% 50%, 95% 100%, 5% 100%, 0 50%
    )
}
#d1 {
    top: 1.5vw;
    width: 1.8vw;
    height: 18vw;
    border-radius: 1px;
    position:relative;
    overflow:hidden;
    clip-path: polygon(
        0% 5%, 50% 0%, 100% 5%, 100% 95%, 50% 100%, 0% 95%
    )
}
#divider{
    margin: 2vw;
}
#d2 {
    top: 2.5vw;
    width: 1.8vw;
    height: 18vw;
    border-radius: 1px;
    position:relative;
    overflow:hidden;
    clip-path: polygon(
        0% 5%, 50% 0%, 100% 5%, 100% 95%, 50% 100%, 0% 95%
    )
}
.unlit {
    background-image: radial-gradient( rgba(100,100,100,0.5),rgba(100,100,100,0.05));
}
.lit {
    background-image: radial-gradient(rgba(255,0,0,1), rgba(255,0,0,0.5));
}